*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h2{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    color: rgb(22,159,228);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-shadow: 1px 1px 1px gray;
    animation-name: h1;
    animation-duration: 2s;
}
main{
    background-color: rgb(217, 217, 217);
}

/* HEADER */
header{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.Logo{
    width: 10%;
    transition: 1s;
    filter: drop-shadow(5px 5px 2px gray);
}
.Logo:hover{
    transform:rotate(-10deg);
}
nav{
    width: 100%;
}
.NavBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 4rem;
    font-size: 1.6rem;
    margin-right: 2rem;
    font-family: 'Chakra Petch', sans-serif;
}
.NavBar li{
    list-style: none;
}
.NavBar li a{
    text-decoration: none;
    color: rgb(17, 40, 72);
}
.NavBar li:hover{
    transition: 1s;
    transform: scale(1.1);
    text-decoration: solid #000;
}

/* MAIN INDEX */
.MainIndex{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "ImagenPersonaPc ImagenPersonaPc LogoL LogoL LogoL"
    "ImagenPersonaPc ImagenPersonaPc LogoR LogoR LogoR"
    "ImagenPersonaPc ImagenPersonaPc DesWeb DesWeb DesWeb"
    ;
}
.ImagenPersonaPc{
    grid-area: ImagenPersonaPc;
    display: flex;
    justify-content: center;
    filter: drop-shadow(5px 5px 2px gray);
    animation-name: ImagenPersonaPc;
    animation-duration: 2s;
}
@keyframes ImagenPersonaPc {
    0%{opacity: 0%;transform: translate(0px, 100px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.LogoL{
    grid-area: LogoL;
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-top: 40px;
    animation-name: LogoL;
    animation-duration: 2s;
}
@keyframes LogoL {
    0%{opacity: 0%;transform: translate(100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.LogoL img{
    filter: drop-shadow(5px 5px 2px rgb(98, 98, 98));
    width: 25%;
}
.LogoR{
    grid-area: LogoR;
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin-right: 40px;
    animation-name: LogoR;
    animation-duration: 2s;
}
@keyframes LogoR {
    0%{opacity: 0%;transform: translate(100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.LogoR img{
    filter: drop-shadow(5px 5px 2px rgb(17, 40, 72));
    width: 25%;
}
.LogoL p{
    font-family: 'Audiowide', cursive;
    font-size: 8rem;
    color: #16A1E4;
    filter: drop-shadow(5px 5px 2px rgb(17, 40, 72));
}
.LogoR p{
    font-family: 'Audiowide', cursive;
    font-size: 8rem;
    color: rgb(17, 40, 72);
    filter: drop-shadow(5px 5px 2px rgb(98, 98, 98));
}
.DesWeb{
    grid-area: DesWeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DesWeb a{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px gray;
    transition: 1s;
    text-decoration: none;
    background-color: rgb(17, 40, 72);
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px gray;
}
.DesWeb a:hover{
    transform: scale(1.1);
}
.DesWeb p{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    margin: 20px;
    text-shadow: 2px 2px 2px gray;
}

/* MAIN SOBRE MI */
.SobreMi{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "ImagenPersonaCafe ImagenPersonaCafe h1 h1 h1"
    "ImagenPersonaCafe ImagenPersonaCafe Parrafo Parrafo Parrafo"
    "ImagenPersonaCafe ImagenPersonaCafe DescargaCv DescargaCv DescargaCv"
    ;
}
.ImagenPersonaCafe{
    grid-area: ImagenPersonaCafe;
    display:flex;
    justify-content: center;
    filter: drop-shadow(5px 5px 2px gray);
    animation-name: SobreMi;
    animation-duration: 2s;
}
@keyframes SobreMi {
    0%{opacity: 0%;transform: translate(0px, 100px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}

h1{
    grid-area: h1;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    color: rgb(22,159,228);
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    margin-bottom: 5rem;
    text-shadow: 1px 1px 1px gray;
    animation-name: h1;
    animation-duration: 2s;
}
@keyframes h1 {
    0%{opacity: 0%;}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.Parrafo{
    grid-area: Parrafo;
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    margin-right: 1rem;
    text-shadow: 1px 1px 1px gray;
    animation-name: Parrafo;
    animation-duration: 2s;
}
@keyframes Parrafo {
    0%{opacity: 0%;}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.DescargaCv{
    grid-area: DescargaCv;
    display: flex;
    justify-content: center;
    align-items: start;
}
.DescargaCv a{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    box-shadow: 2px 1px 3px gray;
    transition: 1s;
    text-decoration: none;
    background-color: rgb(17, 40, 72);
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px gray;
}
.DescargaCv a:hover{
    transform: scale(1.1);
}

/* MAIN SKILLS */
.FilaSkills{
    display: flex;
    padding-bottom: 6rem;
}
.FilaSkillsIzquierda, .FilaSkillsDerecha{
    width: 50%;
    display: flex;
}
.FilaSkillsDerecha{
    animation-name: LogoR;
    animation-duration: 2s;
}
@keyframes LogoR {
    0%{opacity: 0%;transform: translate(100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.FilaSkillsIzquierda{
    animation-name: fila;
    animation-duration: 2s;
}
@keyframes fila{
    0%{opacity: 0%;transform: translate(-100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;transform: scale(1.2);}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.FilaIzquierdaImagen img, .FilaDerechaImagen img{
    height: 10rem;
}
.FilaIzquierdaImagen,.FilaDerechaImagen {
    width: 50%;
    text-align: right;
    padding-right: 6rem;
}
h3{
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    color: #000;
    padding-bottom: 10px;
}
.FilaDerehaTexto,.FilaIzquierdaTexto {
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
}

/* MAIN PORTFOLIO */
.FilaPortfolio{
    display: flex;
    animation-name: Portfolio;
    animation-duration: 2s;
}
@keyframes Portfolio {
    0%{opacity: 0%;transform: translate(0px, 100px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
.BoxFilaPortfolio a{
    text-decoration: none;
}
.BoxFilaPortfolio{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.BoxFilaPortfolio:hover{
    transform: scale(1.01);
}
.BoxFilaPortfolio p{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin-top: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(22, 159, 228, 0.555);
}
.BoxFilaPortfolio img{
    width: 100%;
}

/* MAIN CONTACTO */
.Formulario{
    margin-bottom: 5px;
    padding-top: 15px;
}
.FilasContacto{
    display: flex;
    justify-content: center;
}
.ParrafoContacto{
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.ENVIAR input{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px gray;
    transition: 1s;
    background-color: rgb(17, 40, 72);
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px gray;
    margin: 20px 0;
}
.ENVIAR input:hover{
    transform: scale(1.1);
}
/* ESTADO REPOSO */
label{
    display: block;
    width: 200px;
    border: 2px solid silver;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    transition: .25s;
    margin: 5px 20px;
}
#LabelComentario{
    width: 440px;
}
label input{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font: 16px/16px;
    font-family: 'Chakra Petch', sans-serif;
    padding: 0;
}
label textarea{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font: 16px/16px;
    padding: 0;
}
label span{
    color: silver;
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: .25s;
}
/* ESTADO FOCUS */
label.focus{
    border-color: rgba(22, 159, 228, 0.555);
}
label span.focus{
    color: rgba(22, 159, 228, 0.555);
}
/* ESTADO TOP */
label span.top{
    left: 2px;
    top: -10px;
    font-size: 12px;
    background: rgb(217, 217, 217);
    padding: 0 10px;
}

/* FOOTER */
footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.RrssFooter{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.RrssFooter a svg{
    color: rgb(17, 40, 72);
    height: 3rem;
    margin: 10px 10px;
}
.Copyright{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.Copyright svg{
    color: rgb(17, 40, 72);
    height: 3rem;
}
.Copyright p{
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(17, 40, 72);
    text-align: center;
    margin-right: 10px;
}
.RrssFooter a:hover{
    transition: 1s;
    transform: scale(1.1);
}
@media ()