@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: box-sizing; }

html {
  font-size: 62.5%; }

main {
  background-color: #d9d9d9;
  min-height: 100vh; }

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 10px 0 15px #00000033; }

.Logo {
  width: 10%;
  height: 10%;
  margin: 10px;
  padding: 0;
  filter: drop-shadow(5px 5px 2px #808080);
  transition: 1s; }

.Logo:hover {
  transform: rotate(-5deg); }

.MainIndex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "ImagenPersonaPc ImagenPersonaPc LogoL LogoL LogoL" "ImagenPersonaPc ImagenPersonaPc LogoR LogoR LogoR" "ImagenPersonaPc ImagenPersonaPc DesWeb DesWeb DesWeb";
  filter: drop-shadow(5px 5px 2px #808080); }

.ImagenPersonaPc, .ImagenPersonaCafe {
  grid-area: ImagenPersonaPc;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  filter: drop-shadow(5px 5px 2px #808080);
  animation-name: Imagenes;
  animation-duration: 2s; }

.LogoL, .LogoR {
  grid-area: LogoL;
  display: flex;
  flex-direction: none;
  justify-content: start;
  align-items: baseline;
  margin-top: 40px;
  animation-name: Logos;
  animation-duration: 2s; }
  .LogoL img, .LogoR img {
    filter: drop-shadow(5px 5px 2px #626262);
    width: 25%; }
  .LogoL p, .LogoR p {
    font-family: "Audiowide", cursive;
    font-size: 8rem;
    color: #169fe4; }

.LogoR {
  grid-area: LogoR;
  justify-content: end;
  margin: 0 40px; }
  .LogoR img {
    filter: drop-shadow(5px 5px 2px #808080); }
  .LogoR p {
    color: #112848; }

.DesWeb, .DescargaCv {
  grid-area: DesWeb;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center; }
  .DesWeb h1, .DescargaCv h1 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 5rem;
    color: #000000;
    text-shadow: 2px 2px 2px #808080;
    margin-bottom: 40px; }

.DesWeb a, .DescargaCv a {
  font-family: "Chakra Petch", sans-serif;
  font-size: 3.5rem;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 1px 3px #808080;
  background-color: #112848;
  padding: 2rem 4rem;
  border-radius: 1rem;
  text-shadow: 2px 2px 2px #808080;
  transition: 2s; }

.DesWeb a:hover, .DescargaCv a:hover {
  transform: scale(1.05); }

.ENVIAR {
  padding: 50px; }
  .ENVIAR input {
    font-family: "Chakra Petch", sans-serif;
    font-size: 3.5rem;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 1px 3px #808080;
    background-color: #112848;
    padding: 2rem 4rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px #808080;
    transition: 2s; }
  .ENVIAR input:hover {
    transform: scale(1.05); }

.SobreMi {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "ImagenPersonaCafe ImagenPersonaCafe h2 h2 h2" "ImagenPersonaCafe ImagenPersonaCafe Parrafo Parrafo Parrafo" "ImagenPersonaCafe ImagenPersonaCafe DescargaCv DescargaCv DescargaCv"; }

.ImagenPersonaCafe {
  grid-area: ImagenPersonaCafe; }

h2 {
  grid-area: h2;
  font-family: "Chakra Petch", sans-serif;
  font-size: 6rem;
  color: #169fe4;
  display: flex;
  flex-direction: none;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 30px;
  text-shadow: 2px 2px 2px #808080;
  animation-name: Titulos;
  animation-duration: 2s; }

.Parrafo, .ParrafoContacto {
  grid-area: Parrafo;
  font-family: "Audiowide", cursive;
  font-size: 2rem;
  color: #000000;
  text-align: left;
  margin-right: 10px;
  text-shadow: 2px 2px 2px #808080;
  animation-name: Parrafo;
  animation-duration: 2s; }

.DescargaCv {
  grid-area: DescargaCv;
  display: flex;
  flex-direction: none;
  justify-content: top;
  align-items: center; }

.FilaSkills {
  display: flex;
  padding-bottom: 6rem; }

.FilaSkillsIzquierda, .FilaSkillsDerecha {
  width: 50%;
  display: flex; }

.FilaSkillsDerecha {
  animation-name: FilaDer;
  animation-duration: 2s; }

.FilaSkillsIzquierda {
  animation-name: FilaIzq;
  animation-duration: 2s; }

.FilaIzquierdaImagen, .FilaDerechaImagen {
  width: 50%;
  padding-right: 4rem;
  text-align: right; }
  .FilaIzquierdaImagen img, .FilaDerechaImagen img {
    height: 10rem;
    filter: drop-shadow(5px 5px 2px #808080); }

.FilaDerechaTexto, .FilaIzquierdaTexto {
  font-family: "Audiowide", cursive;
  font-size: 2rem;
  color: #000000;
  text-shadow: 2px 2px 2px #808080; }

.Titulos {
  justify-content: center;
  padding-top: 50px; }

.FilaPortfolio {
  display: flex;
  animation-name: Portfolio;
  animation-duration: 2s; }

.BoxFilaPortfolio {
  margin: 30px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #00000033; }
  .BoxFilaPortfolio p {
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
    color: #000000;
    margin-top: 0;
    padding: 20px;
    background-color: #169fe48e;
    text-shadow: 2px 2px 2px #808080;
    text-align: center; }
  .BoxFilaPortfolio img {
    width: 100%; }
  .BoxFilaPortfolio a {
    text-decoration: none; }

.BoxFilaPortfolio:hover {
  transform: scale(1.01); }

.Formulario {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  padding-top: 15px; }

.FilasContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none; }

.ParrafoContacto {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

label {
  display: block;
  width: 200px;
  border: 2px solid silver;
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  transition: .25s;
  margin: 5px 20px; }

#LabelComentario {
  width: 440px; }

label input {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font: 16px/16px;
  font-family: "Chakra Petch", sans-serif;
  padding: 0; }

label textarea {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font: 16px/16px;
  padding: 0; }

label span {
  color: #808080;
  font-family: "Chakra Petch", sans-serif;
  position: absolute;
  top: 8px;
  left: 10px;
  transition: .25s; }

label.focus {
  border-color: #169fe48e; }

label span.focus {
  color: #169fe48e; }

label span.top {
  left: 2px;
  top: -10px;
  font-size: 12px;
  background: #d9d9d9;
  padding: 0 10px; }
