/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
} */
h2{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    color: #169fe4;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-shadow: 1px 1px 1px #808080;
    animation-name: Titulos;
    animation-duration: 2s;
}
/* body{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* HEADER */
/* header{
    position: sticky;
    top: 0; */
    /* display: flex;
    width: 100%; */
    /* padding: 5px; */
    /* background-color: rgb(255, 255, 255);
    align-items: center; */
    /* box-shadow: 10px 0 15px #00000033; */
    /* z-index: 1; */
}
.Logo{
    /* width: 8%; */
    /* transition: 1s;
    filter: drop-shadow(5px 5px 2px #808080);
}
.Logo:hover{
    transform:rotate(-10deg);
} */
.navbar-collapse{
    text-align: center;
}

/* nav{
    justify-content: right;
} */
/* .NavBar{
    display: flex;
    justify-content: flex-end;
    column-gap: 4rem;
    font-size: 1.6rem;
    margin-right: 20px;
    font-family: 'Chakra Petch', sans-serif;
}
.NavBar li{
    list-style: none;
}
.NavBar li a{
    text-decoration: none;
    color: #112848;
}
.NavBar li:hover{
    transition: 1s;
    transform: scale(1.1);
    text-decoration: solid #000;
} */

/* MAIN INDEX */
.MainIndex{
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr); */
    /* grid-template-areas:
    "ImagenPersonaPc ImagenPersonaPc LogoL LogoL LogoL"
    "ImagenPersonaPc ImagenPersonaPc LogoR LogoR LogoR"
    "ImagenPersonaPc ImagenPersonaPc DesWeb DesWeb DesWeb"
    ; */
}
.ImagenPersonaPc{
    /* grid-area: ImagenPersonaPc;
    display: flex;
    justify-content: center; */
    /* filter: drop-shadow(5px 5px 2px #808080); */
    /* animation-name: Imagenes;
    animation-duration: 2s; */
}
.LogoL{
    /* grid-area: LogoL;
    display: flex;
    justify-content: start;
    align-items: baseline; */
    /* margin-top: 40px; */
    /* animation-name: Logos;
    animation-duration: 2s;
} */
.LogoL img{
    /* filter: drop-shadow(5px 5px 2px #626262);
    width: 25%;
} */
.LogoR{
    /* grid-area: LogoR;
    display: flex;
    justify-content: end;
    align-items: baseline; */
    /* margin-right: 40px;
    animation-name: Logos;
    animation-duration: 2s;
} */
.LogoR img{
    /* filter: drop-shadow(5px 5px 2px #112848);
    width: 25%;
} */
.LogoL p{
    /* font-family: 'Audiowide', cursive;
    font-size: 8rem;
    color: #16A1E4;
    filter: drop-shadow(5px 5px 2px #112848);
} */
.LogoR p{
    /* font-family: 'Audiowide', cursive;
    font-size: 8rem;
    color: #112848;
    filter: drop-shadow(5px 5px 2px #626262);
} */
.DesWeb{
    /* grid-area: DesWeb;
    display: flex;
    flex-direction: column;
    align-items: center; */
}
.DesWeb a{
    /* font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    box-shadow: 2px 2px 3px gray;
    transition: 1s;
    text-decoration: none;
    background-color: #112848;
    padding: 1rem 2rem; */
    border-radius: 1rem;
    text-shadow: 2px 2px 2px #808080;
}
.DesWeb a:hover{
    transform: scale(1.1);
}
.DesWeb p{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    margin: 20px;
    text-shadow: 2px 2px 2px #808080;
}

/* MAIN SOBRE MI */
.SobreMi{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "ImagenPersonaCafe ImagenPersonaCafe h1 h1 h1"
    "ImagenPersonaCafe ImagenPersonaCafe Parrafo Parrafo Parrafo"
    "ImagenPersonaCafe ImagenPersonaCafe DescargaCv DescargaCv DescargaCv"
    ;
}
.ImagenPersonaCafe{
    grid-area: ImagenPersonaCafe;
    display:flex;
    justify-content: center;
    filter: drop-shadow(5px 5px 2px #808080);
    animation-name: Imagenes;
    animation-duration: 2s;
}
h1{
    grid-area: h1;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 5rem;
    color: #169fe4;
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    margin-bottom: 5rem;
    text-shadow: 1px 1px 1px #808080;
    animation-name: Titulos;
    animation-duration: 2s;
}
.Parrafo{
    grid-area: Parrafo;
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    margin-right: 1rem;
    text-shadow: 1px 1px 1px gray;
    animation-name: Parrafos;
    animation-duration: 2s;
}
.DescargaCv{
    grid-area: DescargaCv;
    display: flex;
    justify-content: center;
    align-items: start;
}
.DescargaCv a{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    box-shadow: 2px 1px 3px #808080;
    transition: 1s;
    text-decoration: none;
    background-color: #112848;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px #808080;
}
.DescargaCv a:hover{
    transform: scale(1.1);
}

/* MAIN SKILLS */
.FilaSkills{
    display: flex;
    padding-bottom: 6rem;
}
.FilaSkillsIzquierda, .FilaSkillsDerecha{
    width: 50%;
    display: flex;
}
.FilaSkillsDerecha{
    animation-name: FilaDer;
    animation-duration: 2s;
}
.FilaSkillsIzquierda{
    animation-name: FilaIzq;
    animation-duration: 2s;
}
.FilaIzquierdaImagen img, .FilaDerechaImagen img{
    height: 10rem;
    filter: drop-shadow(5px 5px 2px #808080);
}
.FilaIzquierdaImagen,.FilaDerechaImagen {
    width: 50%;
    text-align: right;
    padding-right: 6rem;
}
.FilaDerehaTexto,.FilaIzquierdaTexto {
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    color: #000;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px #808080;
}

/* MAIN PORTFOLIO */
.FilaPortfolio{
    display: flex;
    animation-name: Portfolio;
    animation-duration: 2s;
}
.BoxFilaPortfolio a{
    text-decoration: none;
}
.BoxFilaPortfolio{
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px #00000033;
}
.BoxFilaPortfolio:hover{
    transform: scale(1.01);
}
.BoxFilaPortfolio p{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin-top: 0;
    color: #000000;
    background-color: #169fe48e;
    text-shadow: 1px 1px 1px #808080;
}
.BoxFilaPortfolio img{
    width: 100%;
}

/* MAIN CONTACTO */
.Formulario{
    margin-bottom: 5px;
    padding-top: 15px;
}
.FilasContacto{
    display: flex;
    justify-content: center;
}
.ParrafoContacto{
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.ENVIAR input{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    box-shadow: 1px 1px 1px #808080;
    transition: 1s;
    background-color: #112848;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-shadow: 2px 2px 2px #808080;
    margin: 20px 0;
}
.ENVIAR input:hover{
    transform: scale(1.1);
}
/* ESTADO REPOSO */
label{
    display: block;
    width: 200px;
    border: 2px solid silver;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    transition: .25s;
    margin: 5px 20px;
}
#LabelComentario{
    width: 440px;
}
label input{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font: 16px/16px;
    font-family: 'Chakra Petch', sans-serif;
    padding: 0;
}
label textarea{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font: 16px/16px;
    padding: 0;
}
label span{
    color: #808080;
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: .25s;
}
/* ESTADO FOCUS */
label.focus{
    border-color: #169fe48e;
}
label span.focus{
    color: #169fe48e;
}
/* ESTADO TOP */
label span.top{
    left: 2px;
    top: -10px;
    font-size: 12px;
    background: #d9d9d9;
    padding: 0 10px;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    margin-top: auto;
}
.RrssFooter{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.RrssFooter a svg{
    color: #112848;
    height: 3rem;
    margin: 10px 10px;
}
.Copyright{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.Copyright svg{
    color: #112848;
    height: 3rem;
}
.Copyright p{
    font-family: 'Chakra Petch', sans-serif;
    color: #112848;
    text-align: center;
    margin-right: 10px;
}
.RrssFooter a:hover{
    transition: 1s;
    transform: scale(1.1);
}

/* MEDIA QUERIES TABLET */
@media (max-width: 768px) {
    /* HEADER */
    /* .Logo{
        width: 10%;
    } */
    main{
        height: 100%;
    }
    /* MAIN INDEX */
    .LogoL img, .LogoR img{
        width: 30%;
    }
    .LogoL p, .LogoR p{
        font-size: 6rem;
    }
    .DesWeb p{
        font-size: 4rem;
    }
    /* MAIN SOBRE MI */
    .ImagenPersonaCafe{
        height: 100%;
        width: 80%;
    }
    .Parrafo{
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
    /* MAIN PORTFOLIO */
    .BoxFilaPortfolio p{
        font-size: 1.7rem;
    }
    }

    /* MEDIA QUERIES CELULAR */
    @media (max-width: 576px){
        .Logo{
            width: 20%;
        }
        .NavBar{
            flex-direction: column;
        }
        /* MAIN INDEX */
        .MainIndex{
            display: flex;
            flex-direction: column;
        }
        .ImagenPersonaPc{
            display: none;
        }
        .LogoL img, .LogoR img{
            width: 25%;
        }
        .LogoL, .LogoR{
            margin-bottom: 30px;
        }
        .DesWeb p{
            margin-bottom: 50px;
            text-align: center;
        }
        /* MAIN SOBRE MI */
        .SobreMi{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .ImagenPersonaCafe{
            display: none;
        }
        h1{
            margin-top: 50px;
        }
        .Parrafo{
            font-size: 2.3rem;
            text-align: center;
            margin-bottom: 60px;
        }
        /* MAIN SKILLS */
        .FilaIzquierdaImagen img, .FilaDerechaImagen img{
            height: 6rem;
        }
        .FilaDerehaTexto,.FilaIzquierdaTexto{
            font-size: 1.1rem;
        }
        /* MAIN PORTFOLIO */
        .FilaPortfolio{
            justify-content: center;
        }
        .BoxFilaPortfolio{
            margin: 20px 5px;
        }
        /* MAIN CONTACTO */
        .ParrafoContacto{
            font-size: 1.5rem;
            text-align: center;
        }
        .BoxFilaPortfolio p{
            font-size: 1.5rem;
        }
        label{
            width: 180px;
            margin:1px 5px;
        }
        #LabelComentario{
            width: 370px;
        }
    }

/* ANIMACIONES */
@keyframes Portfolio {
    0%{opacity: 0%;transform: translate(0px, 100px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes FilaDer {
    0%{opacity: 0%;transform: translate(100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;transform: scale(1.2);}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes FilaIzq{
    0%{opacity: 0%;transform: translate(-100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;transform: scale(1.2);}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes Logos {
    0%{opacity: 0%;transform: translate(100px, 0px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes Titulos {
    0%{opacity: 0%;}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes Imagenes {
    0%{opacity: 0%;transform: translate(0px, 100px);}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}
@keyframes Parrafos{
    0%{opacity: 0%;}
    25%{opacity: 25%;}
    50%{opacity: 50%;}
    75%{opacity: 75%;}
    100%{opacity: 100%;}
}