@mixin Reset ($Margin, $Padding, $Box){
    margin: $Margin;
    padding: $Padding;
    box-sizing: $Box;
}

@mixin PropiedadesFlex ($Direction, $Jusify, $aling){
    display: flex;
    flex-direction: $Direction;
    justify-content: $Jusify;
    align-items: $aling;
}

@mixin PropiedadesGrids ($Column, $Row, $Justify, $Aling) {
    display: grid;
    grid-template-columns: $Column;
    grid-template-rows: $Row;
    justify-content: $Justify;
    align-items: $Aling;
}

@mixin Medidas ($Width, $Heigth, $Margin, $Padding) {
    width: $Width;
    height: $Heigth;
    margin: $Margin;
    padding: $Padding;
}

@mixin Fuentes ($Family, $Size, $Color) {
    font-family: $Family;
    font-size: $Size;
    color: $Color;
}
@mixin Posicion($Position, $Top, $Index) {
    position: $Position;
    top: $Top;
    z-index: $Index;
}
