@mixin Reset ($Margin, $Padding, $Box){
    margin: $Margin;
    padding: $Padding;
    box-sizing: $Box;
}

@mixin PropiedadesFlex ($Direction, $Jusify, $aling){
    display: flex;
    flex-direction: $Direction;
    justify-content: $Jusify;
    align-items: $aling;
}

@mixin PropiedadesGrids ($Column, $Row) {
    display: grid;
    grid-template-columns: $Column;
    grid-template-rows: $Row;
}

@mixin Medidas ($Width, $Heigth, $Margin, $Padding) {
    width: $Width;
    height: $Heigth;
    margin: $Margin;
    padding: $Padding;
}

@mixin Fuentes ($Family, $Size, $Color) {
    font-family: $Family;
    font-size: $Size;
    color: $Color;
}
@mixin Posicion($Position, $Top, $Index) {
    position: $Position;
    top: $Top;
    z-index: $Index;
}

@mixin SombraTexto {
    text-shadow: $SombraTexto;
}

@mixin SombraOscura {
    filter: drop-shadow($SombraOscura);
}

@mixin SombraClara {
    filter: drop-shadow($SombraClara);
}
@mixin SombraBox {
    box-shadow: $SombraBox;
}

@mixin Animation($Name, $Time) {
    animation-name: $Name;
    animation-duration: $Time;
}

@mixin MediaTablet{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin MediaPhone{
    @media screen and (max-width: 576px){
        @content;
    }
}