$BackgroundPrincipal: #d9d9d9;

$BackgroundSecundario: #ffffff;

$ColorPrimario: #169fe4;

$ColorSecundario: #112848;

$FuentePrincipal: 'Chakra Petch', sans-serif;

$FuenteSecundaria: 'Audiowide', cursive;
