.MainIndex{
    @include PropiedadesGrids(repeat(5,1fr),repeat(3,1fr));
    grid-template-areas: 
    "ImagenPersonaPc ImagenPersonaPc LogoL LogoL LogoL"
    "ImagenPersonaPc ImagenPersonaPc LogoR LogoR LogoR"
    "ImagenPersonaPc ImagenPersonaPc DesWeb DesWeb DesWeb";
    @include SombraClara;
}
.ImagenPersonaPc{
    grid-area: ImagenPersonaPc;
    @include PropiedadesFlex(none, center, none);
    @include SombraClara;
    @include Animation(Imagenes,$Time);
}
.LogoL{
    grid-area: LogoL;
    @include PropiedadesFlex(none, start, baseline);
    margin-top: 40px;
    @include Animation(Logos, $Time);
    img{
        @include SombraOscura;
        width: 25%;
    }
    p{
        @include Fuentes($FuenteSecundaria, 8rem, $ColorPrimario)
    }
}
.LogoR{
    grid-area: LogoR;
    @extend .LogoL;
    justify-content: end;
    margin: 0 40px;
    img{
        @include SombraClara;
    }
    p{
        color: $ColorSecundario;
    }
}
.DesWeb{
    grid-area: DesWeb;
    @include PropiedadesFlex(column, top, center);
    h1{
        @include Fuentes($FuentePrincipal, 5rem, $ColorNegro);
        @include SombraTexto;
        margin-bottom: 40px;
    }   
}