@include MediaTablet{
    .ImagenPersonaPc{
        padding-top: 40px;
        height: 100%;
        width: 80%;
    }
    .LogoL{
        img{
            width: 30%;
        }
        p{
            font-size: 5.2rem;
        }
    }
    .DesWeb h1{
        font-size: 4rem;
    }
    .Parrafo{
        font-size: 1.6rem;
    }
    .BoxFilaPortfolio p{
        font-size: 1.6rem;
    }
}